.container-modal {
 display: flex;
 flex-direction: column;
 justify-content: center;
 width: 100%;
 height: 100vh;
}

.sigContainer {
 width: 100%;
 height: 40%;
 margin: 0 auto;
 background-color: #fff;
}

.sigPad {
 width: 100%;
 height: 100%;
}

.buttons-modal {
 width: 100%;
 height: 30px;
}

.sigImage {
 background-size: 200px 50px;
 width: 200px;
 height: 100px;
 background-color: white;
}
